html, body {
  height:100%;
} 

.container {
    height: 100%;
}

#performer {
    height: 100%;
    border-right: 1px solid black;
    background-image: url(../images/performer.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding:0;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

#lurker{
    height: 100%;
    background-image: url(../images/audience.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding:0;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.overlay{
    background-color:black;
    opacity:0.6;
    position:relative;
    height:100%;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

@media screen and (max-width:740px){
	
}

@media screen and (max-width:650px) {
	
}

@media screen and (max-width: 500px) {
  
}
