html, body {
  height:100%;
  background: #eeeeee url('../images/bgs/conpen.png');
}

h1, h2, h3 {
  font-family: Georgia, serif;
}

h2 {
   /* border-bottom: 2px solid; */
  font-family: Impact, Charcoal, sans-serif;
  font-size: 56px;
}


.container {
  height: 100%;
}

.center-block {
  float: none;
}

.searchBox {
  max-width: 75%;
}

.headers {
  text-align: center;

}

.text-center {
  padding-top: 15px;
}
header {
  border-bottom: 1px solid black;
  background: url('../images/performance.jpg') no-repeat;
}

header h1 {
  margin: 0;
  padding: 15px 15px 15px 60px;
  font-family: Impact, Charcoal, sans-serif;
  color: white;
}

table {
  background-color: white;
  border: 2px solid #CCC;
}

#performer {
  height: 100%;
  border-right: 1px solid black;
  padding:0;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

#lurker{
  height: 100%;
  padding:0;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

.overlay{
  background-color:black;
  opacity:0.6;
  position:relative;
  height:100%;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin: 0;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  -bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  -top-left-radius: 0;
  border-top-right-radius: 0;
}
.frame{
  overflow-y: scroll;
  height: 200px;
  width: 400px;
  background-color: #DCDCDC;
}

@media screen and (max-width:740px){

}

@media screen and (max-width:650px) {

}

@media screen and (max-width: 500px) {

}
